section.lessons#lessons
  .content
    h2 Driving Lessons
    .lessons__boxes.lessons__boxes--top
      .lessons__box.lessons__box--img
        picture(title='Experienced driving instructor').lessons__picture
          source(media='(min-width: 760px)',
                srcset='./images/photos/driving-instructor-l.jpg', 
                alt='Experienced driving instructor')
          source(srcset='./images/photos/driving-instructor-s.jpg', 
                alt='Experienced driving instructor')
          img(src='./images/photos/driving-instructor-l.jpg', 
                alt='Experienced driving instructor')
      article.lessons__box.lessons__box--text
        h3.sub-heading Welcome to Premium Effect Driving School
        p We are DVSA approved and properly trained Driving Instuctors. We are fully qualified, experienced, honest, friendly & patient.
        p Our mission is to walk with you through the entire process from the first pass to the end, when you receive your driving license.
        p 
          span(title="Driving School") 
            span.color-primary Premium 
            span.color-secondary Effect Driving School has been providing students with a rich and diverse learning environment.
    .lessons__boxes.lessons__boxes--bottom
      .lessons__box.lessons__box--img
        picture(title='Lancashire area').lessons__picture
          source(media='(min-width: 760px)', 
                srcset='./images/photos/Lancashire-l.jpg',
                alt='Lancashire area')
          source(srcset='./images/photos/Lancashire-s.jpg', 
                alt='Lancashire area')
          img(src='./images/photos/Lancashire-l.jpg', 
                alt='Lancashire area')
      article.lessons__box.lessons__box--text
        h3.sub-heading Lancashire
        p We cover Chorley and Preston and local areas. We are able to pick you up from any address in
          | the local area, so they can pick you up from school, college, work or home.

