doctype html
html
  head
    //- // Global site tag (gtag.js) - Google Analytics
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-139031364-1')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag('config', 'UA-139031364-1');
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='subject', content='Driving lessons, learn to drive a car with manual or automatic transmission.')
    meta(name='Copyright', content=`${site.name}`)
    meta(name='author', content='RWD Strony Internetowe')
    meta(name='Designer', content='RWD Strony Internetowe')
    meta(name='Geography', content=`${site.address.houseNumber} ${site.address.street}, ${site.address.postCode} ${site.address.city}`)
    meta(name='Language', content='English, Polski, Polish')
    meta(name='Publisher', content=`${site.name}, RWD Strony Internetowe`)
    meta(name='distribution', content='Local')
    meta(name='zipcode', content=`${site.address.postCode}`)
    meta(name='city', content=`${site.address.city}`)
    meta(name='country', content=`England, ${site.address.city}`)
    meta(name='Classification', content='Premium Effect Driving School offers a variety of courses for drivers at a competitive price. Choose between manual and automatic transmission. Get ready for your theory and practical test with our driving instructors.')
    meta(name='Keywords', content='Driving school near me, Driving School, Driving Licence, driving a car')

    link(rel='apple-touch-icon' sizes='57x57' href='./images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./images/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./images/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon/favicon-16x16.png')
    link(rel='manifest' href='./images/favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')

    link(rel='stylesheet', href='/dist/style.css')

    block SEO

    block title

    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "DrivingSchoolVehicleUsage",
      "name": "Premium Effect Driving School",
      "image": "www.premiumeffect.co.uk/assets/images/logo-h.png",
      "@id": "",
      "url": "www.premiumeffect.co.uk",
      "telephone": "07864378009, 07897678365",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "22 Kathie Road",
      "addressLocality": "Bedford",
      "postalCode": " MK42 0QJ",
      "addressCountry": "UK"
      },
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": 52.123920,
      "longitude": -0.459910
      },
      "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
      ],
      "opens": "07:00",
      "closes": "16:00"
      }
      }

  body
    #wrapper
      div.details
        .content
          span.detail
            i.icon-smartphone
            each phone, index in site.phone
              span= phone
          span.detail
            i.icon-place
            span Bedford, Milton Keynes and local areas
      header.header
        .content
          .header__controls
            a.header__logo(href="/")
              img(src="/images/photos/logo-h.png", alt="Premium Effect Driving School logo")
            .header__hamburger#header__hamburger
              .header__hamburger1
              .header__hamburger2
              .header__hamburger3
          nav.nav
            ul.nav__list
              each item in h.menu
                li.nav__item
                  a.nav__link(href=item.slug, class=(item.slug === path ? 'active' : ''),
                  class=(item.class))
                    span #{item.title}
              //- if user
                li.nav__item.nav__item--user
                  a.nav__link(href='/account', class=(currentPath.startsWith('/account') ? 'active' : '')) Account
                li.nav__item.nav__item--user
                  a.nav__link(href='/logout') Logout
              //- else
                li.nav__item.nav__item--user
                  a.nav__link(href='/login') Login
                li.nav__item.nav__item--user
                  a.nav__link(href='/register') Register
                
              
      main
        include mixins/_hero
        each heroSection in h.hero
          if (heroSection.slug == currentPath)
            +heroSection(heroSection)

        .content
          block messages

        .content
          block content

        footer.footer#footer
          .content
            nav.footer__nav
              ul.footer__list
                each item in h.menu
                  li.footer__item
                    a.footer__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'active' : ''),
                    class=(item.class))
                      span #{item.title}

            .footer__other
              p All Rights Reserved &reg; #{new Date().getFullYear()}
              p.footer__designer 
                span.mute Designed by
                a(href="http://rwd-stronyinternetowe.pl", target="_blank").mute RWD Strony Internetowe

      block scripts
        script(src="/dist/App.bundle.js")
