doctype html
html
  head
    //- title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block SEO

    block title

  body
    #wrapper
      block header
        div.details
          .content
            span.detail
              i.icon-smartphone
              span 07864378009 / 07897678365
            span.detail
              i.icon-place
              span Bedford, Milton Keynes and local areas
        header.header
          .content
            .header__controls
              a.header__logo(href="/")
                img(src="/images/photos/logo-h.png", alt="Premium Effect Driving School logo")
              .header__hamburger#header__hamburger
                .header__hamburger1
                .header__hamburger2
                .header__hamburger3
            nav.nav
              ul.nav__list
                each item in h.menu
                  li.nav__item
                    a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'active' : ''),
                    class=(item.class))
                      span #{item.title}
                if user
                  li.nav__item.nav__item--user
                    a.nav__link(href='/account', class=(currentPath.startsWith('/account') ? 'active' : '')) Account
                  li.nav__item.nav__item--user
                    a.nav__link(href='/logout') Logout
                else
                  li.nav__item.nav__item--user
                    a.nav__link(href='/login') Login
                  li.nav__item.nav__item--user
                    a.nav__link(href='/register') Register
                
              
      main
        include mixins/_hero
        each heroSection in h.hero
          if (heroSection.slug == currentPath)
            +heroSection(heroSection)

        .content
          block messages

        .content
          block content

        footer.footer#footer
          .content
            nav.footer__nav
              ul.footer__list
                each item in h.menu
                  li.footer__item
                    a.footer__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'active' : ''),
                    class=(item.class))
                      span #{item.title}

            .footer__other
              p All Rights Reserved &reg; #{new Date().getFullYear()}
              p.footer__designer 
                span.mute Designed by
                a(href="http://rwd-stronyinternetowe.pl", target="_blank").mute RWD Strony Internetowe

      block scripts
        script(src="/dist/App.bundle.js")
