doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #wrapper
      block header
        div.details
          .content
            span.detail
              i.icon-smartphone
              span 07864378009 / 07897678365
            span.detail
              i.icon-place
              span Bedford, Milton Keynes and local areas
        header.header
          .content
            .header__controls
              a.header__logo(href="/")
                img(src="/images/photos/logo-h.png", alt="Premium Effect Driving School logo")
              .header__hamburger#header__hamburger
                .header__hamburger1
                .header__hamburger2
                .header__hamburger3
            nav.nav
              ul.nav__list
                each item in h.menu
                  li.nav__item
                    a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'active' : ''),
                    class=(item.class))
                      span #{item.title}
              
      main
        include mixins/_hero
        each heroSection in h.hero
          if (heroSection.slug == currentPath)
            +heroSection(heroSection)
            
        block messages
          if locals.flashes
            .inner
              .flash-messages
                - const categories = Object.keys(locals.flashes)
                each category in categories
                  each message in flashes[category]
                    .flash(class=`flash--${category}`)
                      p.flash__text!= message
                      button.flash__remove(onClick="this.parentElement.remove()") &times;
        .content
          block content

      block scripts
        script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
        script(src="/dist/App.bundle.js")
