mixin heroSection(hero = {})
  section(id="hero" class=`hero hero--${hero.slug.replace('/', '')}`)
    .content
      - const heading1 = hero.title.split(' ').length > 1 ? hero.title.split(' ').map(word => `<span style="display: inline;">${word}</span>`).join(' ') : hero.title;
      h1: !=heading1
      if (hero.subTitle)
        - const heading2 = hero.subTitle.split(' ').length > 1 ? hero.subTitle.split(' ').map(word => `<span style="display: inline;">${word}</span>`).join(' ') : hero.subTitle;
        h3: !=heading2
      if (hero.btn1 || hero.btn2)
        .hero__btns
          if (hero.btn1)
            a(href=`${hero.btn1}`).button.button__cta= hero.btn1Text
          if (hero.btn2)
            a(href=`${hero.btn2}`).button.button__cta= hero.btn2Text